footer {
    background-color: rgb(28,30,38);
    color: white;
    width: 100%;
    bottom: 0;
    height: 80px;
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }